<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">

    <div class="col-sm-2">
        <label tabindex="0" class="lbl-img res-img outline" for="my-file-3">
                    <a>  
                    <div class="avatar-img text-center mbmd outline">
                            <input class="input-file outline" id="my-file-3" type="file" style="display :none"  (change)="onSelectFile($event)" class="select-profile-picture">
                              {{'transaction.Upload-the-file'|translate}}
                      </div>
                    </a>
            </label>
    </div>

    <div class="modal-footer p-r-0">
                              
        <button type="button" (click)="Save()" class=" boxed-btn3" data-dismiss="modal">save</button>
     
    </div>
</div>


  -->

<div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" (click)="myModel.hide()" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
        <ng-container *ngIf="!FileUploaded">
            <div class="spinner-container d-flex align-items-center justify-content-center">
                <div class="spinner-border overlay" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>
           

        </ng-container>

        <ng-container *ngIf="FileUploaded">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-4 text-center my-auto">

                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input class="input-file outline" id="my-file-3" type="file" style="display :none"
                                (change)="onSelectFile($event)" class="select-profile-picture">
                            <label for="my-file-3"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="fileImage" style="">
                            </div>
                        </div>
                    </div>
                    <p class="mtl-15"> upload your file </p>
                </div>
                <div class="col-md-1">
                </div>

            </div>
        </ng-container>

    </div>




    <div class="modal-footer" *ngIf="FileUploaded">
        <button type="button" (click)="Save()" class=" boxed-btn3" data-dismiss="modal" [disabled]="loading">
            <div class="spinner-border" role="status" *ngIf="loading">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="ml-2">Signup</span>
        </button> </div>



</div>