<section class="sec-pad">
    <form [formGroup]="form">
        <div class="tab-g">
            <h3 class="text-center text-semibold">Change your password</h3>
            <div class="row mtxlg">
                <div class="col-sm-12">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="password" formControlName="new_password" placeholder="Password" [ngClass]="{'has-error':form.get('new_password').invalid && form.get('new_password').dirty}">
                            <span class="text-danger" *ngIf="form.get('new_password').invalid && form.get('new_password').dirty">{{'share.required' |translate}}</span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-group">

                            <input type="password" formControlName="new_password_confirmation" placeholder="Confirm Password" [ngClass]="{'has-error':form.get('new_password_confirmation').invalid && form.get('new_password_confirmation').dirty}">
                            <span class="text-danger" *ngIf="form.get('new_password_confirmation').invalid && form.get('new_password_confirmation').dirty">{{'share.required' |translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mtxlg">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="button" style=" width:100%" class="btn btn-green d-inline" (click)="save()">Save</button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </form>
</section>